@model ICollection<SportBattles.Web.ViewModels.Game.TopGamesComponentViewModel>

<div class="col-lg-4">
    <div class="fs-widget">
        <h4>Top Games</h4>
        @foreach (var game in Model)
        {
            <div class="fw-item">
                <h5><a asp-area="" asp-controller="Game" asp-action="Info" asp-route-id="@game.Id">@game.DisplayName</a></h5>
                <ul>
                    <li><i class="fa fa-futbol-o"></i> @game.AllCount</li>
                    <li><i class="fa fa-user-circle-o"></i> @game.UsersCount</li>
                </ul>
            </div>
        }
    </div>
</div>
