@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    this.ViewData["Title"] = "Add new game";
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}

@model SportBattles.Web.ViewModels.Administration.Game.AddGameInputModel

<form method="post" class="col-md-12 g-4" >
    
    <label for="inputGameType">Choose game type:</label>
    <div class="form-row">
        <select asp-for="Game.TypeID" id="inputGameType" class="form-control user-select-none"></select>
    </div>
    <div class="form-row input-game-name">
        <label asp-for="Game.Name">Input game name:</label>
        <input asp-for="Game.Name" class="form-control" id="Name">
        <span asp-validation-for="Game.Name" class="text-danger"></span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="btn btn-outline-primary col-md-12">Add</button>
    </div>
</form>

<form method="post" class="g-4 col-md-12" style="display:none" id="manualInputGameType">
    <div class="form-row">
        <input asp-for="GameType.TypeName" class="form-control" id="gameTypeName" placeholder="Input game type">
        <div class="alert text-danger" style="display:none">This type name already exists!</div>
        <span asp-validation-for="GameType.TypeName" class="text-danger"></span>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="form-row">
        <textarea asp-for="GameType.TypeDescription" rows="4" class="form-control" id="gameTypeDescription" placeholder="Please add description of this game type"></textarea>
        <span asp-validation-for="GameType.TypeDescription" class="text-danger"></span>
        <button class="btn btn-outline-primary col-md-12" id="buttonAddGameType">Add</button>
    </div>
</form>

@section Scripts {
<script>
$(document).ready(function() {
    getAllGameTypes();
});

var getAllGameTypes = function() {
    $.ajax({
        url: '@Url.Action("GetAllGameTypes", "Game", new { Area = "Administration" })',
        type: 'GET',
        success: function(data) {
            $('#inputGameType').find('option').remove()
            $(data).each(
                function(index, item) {
                    $('#inputGameType').append('<option value="' + item.id + '">' + item.name + '</option>')
                });
            $('#inputGameType').append('<option>Add new game type...</option>');
            showHideAddNewGameType();
        },
        error: function() {
            console.log("Error getting GameTypes");
        }
    });
}

var showHideAddNewGameType = function() {
    $("#Name").val('');
    $(".alert").hide();
    var selectOption = $("#inputGameType").find(":selected").text();
    if (selectOption == 'Add new game type...') {
        $(".input-game-name").hide();
        $("#manualInputGameType").show();
        $("#gameTypeName").focus();
    } else {
        $("#manualInputGameType").hide();
        $(".input-game-name").show();
        $("#gameTypeName").val('');
        $("#gameTypeDescription").val('');
    }
}

$("#inputGameType").change(showHideAddNewGameType);

$("#buttonAddGameType").click(function () {
    var gameTypeName = $('#gameTypeName').val();
    var duplicateGameType = jQuery.inArray(gameTypeName, $("#inputGameType option").toArray().map(o => o.textContent)) != -1;
    if ($("#manualInputGameType").valid()) {
        if (duplicateGameType) {
            $(".alert").show();
            $("#gameTypeName").mousedown(function () {
                $(".alert").hide();
            });
            return false;
        };
    } else {
        return false;
    }
});

$("#manualInputGameType").on("submit", function (event) {
    event.preventDefault();
    var gameTypeName = $('#gameTypeName').val();
    var gameTypeDescription = $("#gameTypeDescription").val();
    $.ajax({
            type: 'POST',
            url: '@Url.Action("AddGameType", "Game", new { Area = "Administration" })',
            dataType: 'json',
            contentType: 'application/json',
            headers: {
                '@tokenSet.HeaderName': '@tokenSet.RequestToken'
            },
            data: JSON.stringify({
                TypeName: gameTypeName,
                TypeDescription: gameTypeDescription
            }),
            success: function(data) {
                $("#gameTypeName").val('');
                $("#gameTypeDescription").val('');
                getAllGameTypes();
            },
            error: function(data) {
                alert("Error adding game type!");
            }
        });
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}