@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    this.ViewData["Title"] = "Add new game";
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}

@model SportBattles.Web.ViewModels.Administration.Game.AddGameTypeInputModel
<label for="inputGameType" class="mt-4">Choose game type:</label>
<div class="form-row">
    <div class="input-group col-md-6">
        <select id="inputGameType" class="form-control user-select-none">
        </select>
    </div>
    <form method="post" class="input-group form-group g-4 col-md-6" style="display:none" id="manualInputGameType">
        <input asp-for="Name" class="form-control col-md-12" id="gameTypeName" placeholder="Input game type">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" id="buttonAddGameType">Add</button>
        </div>
        <div class="alert text-danger input-group-append col-md-12" style="display:none">This type name already exists!</div>
        <span asp-validation-for="Name" class="text-danger input-group-append col-md-12"></span>
        <div class="input-group">
            <textarea asp-for="Description" rows="4" class="form-control col-md-12" id="gameTypeDescription" placeholder="Please add description of this game type"></textarea>
            <span asp-validation-for="Description" class="text-danger col-md-12"></span>
        </div>
    </form>
</div>

@section Scripts {
    <script>
    $(document).ready(function() {
        getAllGameTypes();
    });

var getAllGameTypes = function() {
    $.ajax({
        url: '@Url.Action("GetAllGameTypes", "Game", new { Area = "Administration" })',
        type: 'GET',
        success: function(data) {
            $('#inputGameType').find('option').remove()
            $(data).each(
                function(index, item) {
                    $('#inputGameType').append('<option value="' + item.id + '">' + item.name + '</option>')
                });
            $('#inputGameType').append('<option>Add new game type...</option>');
            showHideAddNewGameType();
        },
        error: function() {
            console.log("Error getting GameTypes");
        }
    });
}

var showHideAddNewGameType = function() {
    var selectOption = $("#inputGameType").find(":selected").text();
    if (selectOption == 'Add new game type...') {
        $("#manualInputGameType").show();
        $("#gameTypeName").focus();
    } else {
        $("#manualInputGameType").hide();
        $("#gameTypeName").val('');
        $("#gameTypeDescription").val('');
    }
}

$("#inputGameType").change(showHideAddNewGameType);

$("#manualInputGameType").on("submit", function (event) {
    event.preventDefault();
    var gameTypeName = $('#gameTypeName').val();
    var gameTypeDescription = $("#gameTypeDescription").val();
    $.ajax({
            type: 'POST',
            url: '@Url.Action("Add", "Game", new { Area = "Administration" })',
            dataType: 'json',
            contentType: 'application/json',
            headers: {
                '@tokenSet.HeaderName': '@tokenSet.RequestToken'
            },
            data: JSON.stringify({
                Name: gameTypeName,
                Description: gameTypeDescription
            }),
            success: function(data) {
                $("#gameTypeName").val('');
                $("#gameTypeDescription").val('');
                getAllGameTypes();
            },
            error: function(data) {
                alert("Error adding game type!");
            }
        });
});

$("#buttonAddGameType").click(function() {
    var gameTypeName = $('#gameTypeName').val();
    var duplicateGameType = jQuery.inArray(gameTypeName, $("#inputGameType option").toArray().map(o => o.textContent)) != -1;
    if ($("#manualInputGameType").valid()) {
        if (duplicateGameType) {
            $(".alert").show();
            $("#gameTypeName").mousedown(function() {
                $(".alert").hide();
            });
            return false;
        } else {
            $("#manualInputGameType").submit();
        };
    } else {
        return false;
    }
});
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}