@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using System.Security.Claims;
@{
    this.ViewData["Title"] = "Contact us";
    this.ViewData["Contact"] = "active";
}
@model SportBattles.Web.ViewModels.Contact.ContactFormInputModel
   <!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-form">
                    <h2>Contact Form</h2>
                    <form method="post">
                        <div class="group-in">
                            <label asp-for="Name">Your name</label>
                            <input asp-for="Name" value="@this.User.Identity.Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="group-in">
                            <label asp-for="Title">Title</label>
                            <input asp-for="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="group-in">
                            <label asp-for="Content">Message</label>
                            <textarea asp-for="Content"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <p>
                            By clicking the "Send us a message" button, you confirm that you are familiar with and agree with our
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">privacy policy.</a>
                        </p>
                        <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
                        <button type="submit">Send us a message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}