@model ICollection<SportBattles.Web.ViewModels.User.TopPlayersComponentViewModel>

<div class="col-lg-4 col-md-6 offset-lg-1">
    <div class="fs-widget" >
        <h4>Top Players</h4>
        <ul class="text-light" style="width:100%">
            @foreach (var player in Model)
            {
                <li class="pb-2">@player.UserName - @player.Points points</li>
            }
        </ul>
    </div>
</div>
