div.match {
    display: none;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    border-radius: 26px;
    background-color: aqua;
}

.points{
    background-color: green;
    font-weight: bold;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: absolute;
    color: white;
    font-size: 26px;
    top: 5px;
    right: 15px;
}

.double_points {
    background-color: red;
    font-weight: bold;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: absolute;
    color: white;
    font-size: 26px;
    top: 5px;
    left: 15px;
}

div.error {
    margin-top: 2px;
    color: white;
    background-color: red;
    border-radius: inherit;
    text-align: center;
    font-size: 22px;
    display: none;
}

div.startDate, div.league {
    position: relative;
    text-align: center;
    font-size: 14px;
}

div.teams_result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 20px;
    min-height: 58px;
}

div.home_team {
    -webkit-flex-grow: 2;
    flex-grow: 2;
    flex-basis: 35%;
    text-align: right;
    overflow: hidden;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
}

div.away_team {
    -webkit-flex-grow: 2;
    flex-grow: 2;
    flex-basis: 35%;
    text-align: left;
    overflow: hidden;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
}

div.emblem {
    margin: 0.5%;
    flex-basis: 10%;
    max-width: 60px;
    text-align: center;
}

.emblem img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

div.separator {
    font-size: 30px;
}

div.result {
    margin: 0.1%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    flex-basis: 10%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

div.finished_result {
    position: relative;
    min-width: 72px;
    height: 40px;
    text-align: center;
    background-color: darkblue;
    border-radius: 10px;
    margin-top: auto;
    padding: 6px;
}

div.real_result {
    color: white;
    text-align: center;
    font-size: 23px;
}

div.prediction {
    padding: 4px;
    background-color: green;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: -55%;
    left: 16px;
    font-size: 18px;
}

input {
  border: solid 4px;
  padding: 0;
  margin:auto;
  text-align: center;
  font-size: 30px;
  width: 30px;
  letter-spacing: 0;
  color: red;
}

input:focus {
  outline: none;
  color: blue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#loadMore {
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    border-radius: 26px;
    text-align: center;
}
/*# sourceMappingURL=style.css.map */